@font-face {
    font-family: 'Metronic Pro Air Italic';
    src: url('metronicproair-italic-webfont.woff2') format('woff2'),
         url('metronicproair-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air';
    src: url('metronicproair-webfont.woff2') format('woff2'),
         url('metronicproair-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air Condensed Italic';
    src: url('metronicproaircondensed-italic-webfont.woff2') format('woff2'),
         url('metronicproaircondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Air Condensed';
    src: url('metronicproaircondensed-webfont.woff2') format('woff2'),
         url('metronicproaircondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Metronic Pro Light Italic';
    src: url('metronicprolight-italic-webfont.woff2') format('woff2'),
         url('metronicprolight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Light';
    src: url('metronicprolight-webfont.woff2') format('woff2'),
         url('metronicprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metronic_pro_condensedLtIt';
    src: url('metronicprolightcondensed-itali-webfont.woff2') format('woff2'),
         url('metronicprolightcondensed-itali-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Light Condensed';
    src: url('metronicprolightcondensed-webfont.woff2') format('woff2'),
         url('metronicprolightcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Metronic Pro Italic';
    src: url('metronicproregular-italic-webfont.woff2') format('woff2'),
         url('metronicproregular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro';
    src: url('metronicproregular-webfont.woff2') format('woff2'),
         url('metronicproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Condensed Italic';
    src: url('metronicproregularcondensed-ita-webfont.woff2') format('woff2'),
         url('metronicproregularcondensed-ita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Metronic Pro Condensed';
    src: url('metronicproregularcondensed-webfont.woff2') format('woff2'),
         url('metronicproregularcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* TG-STYLES */

a {
	text-decoration: none !important;
  }
  
  .tg-h1 {
	font-size: 50px;
	line-height: 40px;
text-transform: uppercase;
    font-family: Metronic Pro Air, Metronic;
  }
  
  h1:empty {
	display: none !important;
  }
  
  .tg-h2 {
	font-size: 35px !important;
	line-height: 40px;
    font-family: Metronic Pro Air, Metronic;
  }
  
  .tg-h3 {
	font-size: 28px !important;
	line-height: 31px;
	font-style: normal !important;
    font-family: Metronic Pro Air, Metronic;
  }
  
  .tg-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .tg-flex-start {
	align-items: flex-start !important;
  }
  .tg-flex-col {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex: 1 1 0;
	width: 0;
  }

.tg-gap-20 {gap: 20px}
  
  .tg-text {
	font-size: 15px;
    font-family: Metronic Pro Light;
  }
  
  .tg-center {
	text-align: center;
	margin: auto;
  }
  
  .tg-bold {
	font-weight: 600;
  }
  
  .tg-light {
	font-weight: 100;
  }
  
  .tg-color-white {
	color: #fff !important;
  }
  
  .tg-color-red {
	color: #BC141A !important;
  }
  .tg-container-50 {
	width: 50%;
  }
  
  .tg-padding-10 {
	padding: 10px !important;
  }

  .tg-padding-20 {
	padding: 20px !important;
  }
  .tg-space-10 {
	margin-bottom: 10px !important;
  }
  
  .tg-space-20 {
	margin-bottom: 20px !important;
  }
  .tg-space-30 {
	margin-bottom: 20px !important;
  }
  .tg-space-50 {
	margin-bottom: 50px !important;
  }
  .tg-space-100 {
	margin-bottom: 100px !important;
  }
  
  /* TG-STYLES */
